<div class="uk-width-expand">
  <h2>Artist and nerd ...</h2>
  <p>...These are my two best sides. I also have a love for mushroom hunting, a big pile of indie games (with a note that says „to be reviewed“), a soft spot for my big ugly double bass, and the ability to speak four and a half languages.</p>
  <p>I grew up in the Bavarian Forest and graduated in Augsburg and Würzburg with a Master's degree in Information Design. Since 2013, I've been working for branding agencies in Vienna and Augsburg, where I've set up traps for small and big ideas and visualized engaging analog and digital stories.</p>
  <p>I've always kept my eye out for the underbrush of the web. And I like the way the open source community works together, embracing diversity and sharing skills for a common goal. That's the reason why I set out to become a full-stack-web developer.</p>
  <p>Today, I am specialized in high-quality hand-drawn illustrations that blend in perfectly with a given corporate design. And I effectively use my expertise in the latest technology to make contents come alive.
  <%= link_to "Get in touch!", root_path(:anchor => 'contact'), :"data-uk-smooth-scroll" => true %>
</div><!-- end main-text -->
  
<div class="uk-width-1-3@m">
  <h2>A selection of recent customers</h2>
  <div id="client-list">
    <span>Thomas Cook Hotels and Resorts</span>
    <span>AHA 360°</span>
    <span>Bäckerei Wolf</span>
    <span>Azubiyo</span>
    <span>Welzhofer</span>
    <span>Oldenbourg Schulbuchverlag</span>
    <span>Jetzt Magazin (Süddeutsche Zeitung)</span>                     
    <span>Hutzelhof</span>
    <span>Sentido </span>
  </div>
</div><!-- end skills -->