    <section class="jumbotron">
      <h1>The art of bug whispering.</h1>
      <p>
        Hi! I'm Judith, artist and web developer. I create engaging illustrative and interactive experiences.
      </p>
      <span uk-icon="icon: chevron-down" class="big-icon moving-icon"></span>
    </section><!-- section -->

    <div class="container anchor" id="about" uk-grid>
      <%= render partial: "about" %>
    </div><!-- end container -->

    <div class="container anchor" id="faq">
      <%= render partial: "faq" %>
    </div> <!-- end container -->

    <div class="container anchor" id="contact"uk-grid>
      <%= render partial: "contact" %>
    </div><!-- end container -->