<div class="uk-width-expand">
  <h2>Welcome to my website!</h2>
  <p>This is also my portfolio. Please back later to see my latest projects.</p>
</div><!-- end main-text -->
  
<div class="uk-width-1-3@m">
  <h2>I've illustrated for... </h2>
  <div id="client-list">
    <span>Thomas Cook Hotels and Resorts</span>
    <span>Bäckerei Wolf</span>
    <span>Azubiyo</span>
    <span>Oldenbourg Schulbuchverlag</span>
    <span>Jetzt Magazin (Süddeutsche Zeitung)</span>                     
    <span>Sentido </span>
  </div>
  <div id="awards">
    <%= image_tag("DDC_WinnerBadget_DE4_Bronze-11.svg", id:"DDC-img") %>
    <small>Award in the Deutscher Designer Club DDC competition for the <%= link_to "Büroecco", "https://bueroecco.com/" %> <%= link_to "bird postcards", projects_path %> project</small>
  </div>
</div><!-- end skills -->