<div class="row-wrap-inline">
  <h2 id="portfolio-head">My approach to creating things</h2>
</div>

<ul uk-accordion>
  <li class="uk-open">
    <a class="uk-accordion-title accordion-title" href="#">Web Development</a>
    <div class="uk-accordion-content accordion-content">
      <p>As someone who's started out in the creative sector, I've internalized the design thinking approach. I've developed my skillset to embrace web technology (HTML, CSS, JavaScript) and I rely on best practise to get things done efficiently. 
      </p>
    </div>
  </li>
  <li>
  <a class="uk-accordion-title" href="#">Creative Consulting</a>
  <div class="uk-accordion-content accordion-content">
    <p>How does that fit together with design? Every online and offline experience that is worth a second look has been carefully designed. For me, being creative involves pinning information down to the key contents. I always look for the intuitive structure that works best for users.
    </p>
  </div>
  </li>
  <li>
    <a class="uk-accordion-title" href="#">Illustration: Book me!</a>
    <div class="uk-accordion-content accordion-content">
      <p>Illustrations have the power to visualize things more directly. They can make a visual presence really outstanding. As a freelancer I am specialized in high-quality digital illustrations that and blend in perfectly with a given corporate design. Do you have a project in mind? <%= link_to "Get in touch", root_path(:anchor => 'contact'), :"data-uk-smooth-scroll" => true, :class => "page-anchor" %> and let's turn the talk into the walk. </p>
    </div>
  </li>
</ul>